/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
  }

html {
	font-size: 62.5%;
	box-sizing: border-box;
	
}

/* MAIN CONTAINER */

#mainContainer {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}

/* -------HEADER-------- 1 */

h1 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 5px;
}
/* --------- NAV ---------- */

nav {
	width: 40%;
	margin: 0 auto;
}

nav ul {
	display: flex;
	justify-content: space-around;
	font-size: 1.7rem;
	height: 30px;
}

nav li {
	background: #fff2f9;
	width: 21%;
	height: 30px;
	margin: 4px;
	padding-top: 5px;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: black;
	margin: 2px;
}

/* --------------- HEADER 2 ------------- */

h2 {
	text-align: center;
	margin: 18px;
	font-size: 3.5rem;
	font-family: 'Caveat', cursive;
	color: #6b6c70;
	opacity: 0.4;
	text-shadow: 2px 2px darkgray;

}

/* ----------- HEADER 3 ------------------
-------------- TOP CONTENT   ------------- */

h3, .about-me /*styled for ABOUT.HTML*/ {
	text-align: center;
	font-size: 1.6rem;
}

#top-content {
	margin: 0 auto;
	margin-top: 10px;
	width: 80vw;
	height: 26vh;
	margin-bottom: 10px; 
	
}

#top-content img {
	border-radius: 16px; 
	width: 100%;
	height: 100%; 
	object-fit: cover; 
}

/* TOP CONTENT ABOUT PAGE */

.about-me {
	margin-left: 250px;
	margin-right: 250px;
	font-size: 1.7rem;
}
}
/* MIDDLE CONTENT */

#middle-content-container {
	margin-top: 20px;
	margin: 0 auto;
	width: 80vw;
}
.middle-content {
	margin: 0 auto;
	display: inline;
	margin: 0 auto;
	width: 87vw;
} 


.middle-content img { 
	margin: 0 auto;
	border-radius: 10px; 
	max-width: 24%;
	object-fit: cover;  
}

/* MIDDLE CONTENT ABOUT PAGE */

#middle-content-container-about {
	display: flex;
	margin-top: 20px;
	margin: 0 auto;
	width: 80vw;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	
}

#middle-content-container-about img { 
	display: flex;
	margin: 0 auto;
	border-radius: 10px; 
	padding-bottom: 4px;
	max-width: 37vw;
	object-fit: cover;
}

.emphasize-adjectives {
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

/* MIDDLE CONTENT PROJECTS PAGE */
#projects-middle-content {
	margin-top: 10px;
	flex-direction: column;
	display: flex;
	font-size: 2rem;
	height: 350px;
}

.projects-text {
	
	font-size: 1.7rem;
}

#projects-middle-content img {
width: 100%;
}

/*MIDDLE CONTENT CONTACT PAGE*/

.contact-me {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.contact-me img {
	width: 80%;
}

.item {
	height: 70px;
	width: 120px;
} 

/* BOTTOM CONTENT */

.bottom-content {
	margin: 0 auto;
	width: 25vw;
	height: 400px;
	
}

.bottom-content-flex img {
	margin: 0 auto;
	margin-right: 20%;
	border-radius: 10px;
	max-width: 20%;
	max-height: 80%;
}

.bottom-content-flex {
	display: flex;
	max-width: 87vw;
}

.adjectives {
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 10%;
	max-width: 43%;
	text-align: center;
	font-size: 2rem;
	color: #bf3b8a;
}

/* FOOTER */
 
footer {
	 text-align: center;
	 background: #fff2f9;
	 height: 10%;
	 font-size: 2rem;
	 width: 100%;
	 left: 0;
	 bottom: 10px;
 }

 footer a {
	 text-decoration: none;
	 color: black;
	 padding: 1.3px;
	 border-bottom: 2px dashed black;
 }

 footer a:hover {
	 color: gray;
	 border-bottom: 2px dashed gray;
 }
 
 /* --------- MEDIA 500PX -----------
 -----------------------------------
 ----------------------------------- */

 @media(max-width: 500px) {
	
	/* NAV */

	nav li {
		width: 70%;
 }

 nav {
	width: 50%;
 }

/* ABOUT ABOUT PAGE */

.about-me {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 1.7rem;
 }

/* MIDDLE CONTENT PROJECTS PAGE */
#projects-middle-content {
	max-width: 100%;
}

/* MIDDLE CONTENT CONTACT PAGE*/
.contact-me {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	padding-top: 10px;
}

.contact-me img {
	width: 400px;

}
.contact-me {
	margin-top: 0 auto;
	padding: 60px;
  font-size: 1.4rem;
  
}

.item {
	height: 300px;
	width: 400px;
	margin: 0 auto;
} 

 /* BOTTOM CONTENT */

 .adjectives {
	max-width: 100%;
	font-size: 1.4rem;
	color: #bf3b8a;
}

.bottom-content-flex img {
	border-radius: 10px;
}

.bottom-content-flex {
	margin-right: 20px;
	margin-left: 20px;
	border: 1px red solid;
	display: flex;
	max-width: 100vw;
}

/* BOTTOM CONTENT PROJECTS PAGE */
.projects-text {
	margin-bottom: 20px;
}

.projects-middle-content img {
	max-width: 89vw;

}
 /* FOOTER */


 footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 10px;
}

/* PROJECTS FOOTER */
footer {
	position: absolute;
	width: 100%;
	left: 10;
	bottom: 10px;
}