/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	text-align: center;
	font-size: 2.87rem;
	font-style: italic;
	margin-bottom: 1px;
}

/* li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly; /*
}

/* nav img {
	width: 9%;
	vertical-align: middle;
  
} */
 
body {
	font-family: Arial;
	color: #272a2b;
}

header {
	/*border: 1px solid red;
	/*display: block;
	/*flex-direction: row;
	justify-content: center;
	align-items: center;*/
}
h1 {
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: black;
	/*display: flex;
	justify-content: space-evenly;*/
}

.section {
	display: flex;
	justify-content: center;
	border: 1px solid red;
	
}

a {
	/*
	justify-content: center; */ 
	align-items: space-evenly;
	width: 100px;
	padding: 10px;
}

.help {
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 3px;
	width: 500px;
	border: 1px solid red;
}



.h2Text {
	
	max-width: 100%
}

/*p {
	display: flex;
	justify-content: space-around;
	border: 1px solid red;
}
	/*display: flex;
	justify-content: center;
	align-content: center;
	align-items: space-evenly;
	width: 40%;
	padding: 10px;
	/*display: flex;
	justify-content: center;
	align-items: space-around;
	width: 50%;
}
/*nav ul {
display: flex; 
justify-content: center;
 } */

 /*nav li {
margin: 4px;
 }

 /*
 button {
	 padding: 10px 20px;
	 background-color: #fff2f9;
	 font-style: italic;
	 border: none;*/
 }

 
 .button-slanted-div {
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
  }

  /*-ms-transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
}*/

.button-slanted-div2 {
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	font-style: normal;
}

.noItalic {
	font-style: normal;
}

.button-slanted-div:hover {
	border: solid 2px black;
}

#blackButton:hover {
	border: solid 2px black;
}

.grayButton:hover, .button-slanted-div2:hover {
	border: solid 2px #d5dce6;
}

button:visited {
	border: solid 2px pink;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 2.9rem;
	margin: 12px;
	/*text-align: center;*/
	color: #d9d9de;
	font-family: 'Caveat', cursive;
	-ms-transform: skewX(10deg);
	-webkit-transform: skewX(10deg);
	transform: skewX(10deg);
	opacity: 0.4;
	border-bottom: 1px solid #f6e1f7;
	width: 375px;
	text-shadow: 2px 2px darkgray;
	
}

.h2words {
	display: flex; 
	justify-content: center;
	align-content: center;
	align-items: center;
	border: 1px solid red;
}

.h2text { 
	display: flex;
	justify-content: center;
	width: 30px;
}

.text-example { display: flex; align-items: center;
	justify-content: center; flex-direction: row; width: 100; 
	border: 1px solid red; text-align: center;}
/*portfolio {
	display: inline-block;
	
}
/* main p {
	text-align: center;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-content: center;
	max-width: 500px;
}

p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: auto 0;
}
 */
.keyboard {
	border: 1px solid red;
	object-fit: cover;
		width: 100%;
		height: 400px;
		border-radius: 20px;
		opacity: 0.6;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	/* max-width: 25%; */
	padding: 0 4px;
	display: flex;
	justify-content: space-between;
	border: solid red 1px;
	margin-top: 8px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 20%;
	border: solid red 1px;
	 margin: 2px; 
  }

/*
.portfolioPreview {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px;
	justify-content: space-evenly;
	max-width: 20%;
	max-height: 20%;
}

.rose {
	height: 100px;
	width: 100px;
}
*/
.portfolioText {
	margin: 0 auto;
	width: 500px;
	border: 1px solid red;
}

footer {
	background-color:#fff2f9;
	margin-top: 17px;
	padding: 20px;
	border: 1px solid red;
}



footer button:hover {
	text-decoration: underline;
}

.whiteBorder {
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 3px;
	width: 150px;
	height: 40px;
	border: 1px solid red;
	padding: 10px;
}

.whiteBorder:hover {
	border: 1px solid black;
}